/* Core */
$sidenav-width: 250px;
$header-height: 64px;

/* Spacing */
$tiny-spacing: 4px;
$small-spacing: 8px;
$medium-spacing: 16px;
$large-spacing: 32px;
$huge-spacing: 64px;

/* Border */
$border-radius: 5px;
$border: 1px solid darkgrey;

/* Shadow */
$small-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
$large-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
