@import 'src/assets/style/variables';
@import 'src/assets/style/colors';

h3  {
  margin-top: $large-spacing;
  width: 100%;
  text-align: center;
}

form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  border: $border;
  margin: $medium-spacing;
  padding: $small-spacing;
  border-radius: $border-radius;
  background-color: $secondary;

  & div {
    display: flex;
    flex-direction: column;
  }

  & hr {
    border-top: .5px solid $grey;
  }

  & .note {
    flex-direction: row;
    align-items: center;

    & button {
      width: $large-spacing;
      height: $large-spacing;
    }
  }

  .addNote {
    width: 100%;
    flex-direction: row;
    justify-content: end;

    & button {
      width: $large-spacing;
      height: $large-spacing;
    }
  }

  & em {
    color: $danger;
    text-align: right;
    font-size: 60%;
  }
}
