<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
  <label for="patientId">Patient Id</label>
  <input type="text" formControlName="patientId" id="patientId" />
  <em *ngIf="validate(fc.patientId, 'required')">Required</em>
  <em *ngIf="validate(fc.patientId, 'exists')">Already Exists</em>
  <ng-container *ngIf="fc.patientId.statusChanges | async as status">
    <em *ngIf="fc.patientId.value !== ''">{{ status | status }}</em>
  </ng-container>

  <div formGroupName="name">
    <label for="first">First name</label>
    <input type="text" formControlName="first" id="first" />
    <em *ngIf="validate(fc.name.first, 'required')">Required</em>

    <label for="last">Last name</label>
    <input type="text" formControlName="last" id="last" />
    <em *ngIf="validate(fc.name.last, 'required')">Required</em>
  </div>

  <br />
  <hr />

  <label for="age">Age</label>
  <input type="number" min="0" formControlName="age" id="age" />
  <em *ngIf="validate(fc.age, 'required')">Required</em>
  <em *ngIf="validate(fc.age, 'min')">Must be conceived to be a patient</em>

  <label for="gender">Gender</label>
  <select formControlName="gender" id="gender">
    <option value="" disabled selected>Select...</option>
    <option *ngFor="let gender of genders" [value]="gender.value">
      {{ gender.i18n }}
    </option>
  </select>
  <em *ngIf="validate(fc.gender, 'required')">Required</em>

  <br />
  <label for="street">Adress</label>
  <hr />

  <div formGroupName="address">
    <label for="street">Street</label>
    <input type="text" formControlName="street" id="street" />
    <em *ngIf="validate(fc.address.street, 'required')">Required</em>

    <label for="number">Number</label>
    <input type="text" formControlName="number" id="number" />
    <em *ngIf="validate(fc.address.number, 'required')">Required</em>

    <label for="city">City</label>
    <input type="text" formControlName="city" id="city" />
    <em *ngIf="validate(fc.address.city, 'required')">Required</em>
  </div>

  <br />
  <hr />

  <label>Notes</label>
  <ng-container
    formArrayName="notes"
    *ngFor="let note of patientForm.controls.notes.controls; let i = index"
  >
    <div class="note" [formGroupName]="i">
      <textarea formControlName="text"></textarea>
      <button (click)="removeNote(i)" type="button">-</button>
    </div>
    <em *ngIf="validate(noteAt(i), 'required')">Required</em>
  </ng-container>
  <div class="addNote">
    <button (click)="addNote()" type="button">+</button>
  </div>
  <button
    [disabled]="patientForm.invalid || fc.patientId.status === 'PENDING'"
    type="submit"
  >
    Add
  </button>
  <em *ngIf="patientAdded === false">Saving...</em>
</form>

<pre>{{ patientForm.value | json }}</pre>
