@import 'src/assets/style/variables';
@import 'src/assets/style/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button {
  border: $border;
  border-radius: $border-radius;
  margin: $tiny-spacing;
  padding: $tiny-spacing;

  &:not([disabled]) {
    cursor: pointer;
    box-shadow: $large-shadow;
  }

  &[type='submit'] {
    background-color: $primary;
    border-color: $primary;
    color: $white;

    &:disabled {
      background-color: $grey;
      border-color: $grey;
    }
  }

  &:hover:not([disabled]) {
    box-shadow: $small-shadow;
  }
}

input, textarea, select {
  all: unset;
  border: $border;
  border-radius: $border-radius;
  padding: $tiny-spacing;
  background-color: $white;

  &:disabled {
    background-color: $grey;
  }
}

textarea {
  resize: vertical;
  flex: 1;
}

label {
  margin-top: $small-spacing;
  font-style: italic;
  font-size: 90%;
}

input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-touched,
textarea.ng-invalid.ng-dirty,
select.ng-invalid.ng-touched,
select.ng-invalid.ng-dirty {
  background-color: $danger-light;
  border-color: $danger;
}
