<div *ngIf="loading">loading...</div>

<div
  [hidden]="loading"
  *ngIf="errorMessage"
  class="wrapper mat-elevation-z8 error"
>
  <span>{{ errorMessage }}</span>
</div>

<ng-container *ngIf="!errorMessage">
  <div [hidden]="loading" *ngFor="let patient of patients">
    <pre
      [ngClass]="{
        currentPatient: patient.id === currentPatientId,
        skeleton: patient.id === removingPatient
      }"
      (click)="selectPatient(patient.id!)">{{ patient | json }}
      <button type="button" (click)="removePatient($event, patient.id!)">x</button></pre>
  </div>
  <div *ngIf="savingPatient === true">
    <pre class="skeleton">{{
        '{\n' +
        '  "id": "", \n' +
        '  "name": {\n' +
        '    "first": "",\n' +
        '    "last": ""\n' +
        '  },\n' +
        '  "age": "",\n' +
        '  "gender": {\n' +
        '    "value": "",\n' +
        '    "translation": ""\n' +
        '  },\n' +
        '  "address": {\n' +
        '    "street": "",\n' +
        '    "number": "",\n' +
        '    "city": ""\n' +
        '  },\n' +
        '  "notes": []\n' +
        '}'
      }}
      <button disabled type="button">x</button></pre>
  </div>
</ng-container>
