<div class="message" *ngIf="loading"><span>loading...</span></div>

<div [hidden]="loading" *ngIf="errorMessage" class="message">
  <span class="error">{{ errorMessage }}</span>
</div>

<ng-container *ngIf="!errorMessage">
  <div [hidden]="loading" *ngFor="let patient of patients">
    <pre
      [ngClass]="{
        currentPatient: patient.id === currentPatientId,
        blinking: patient.id === removingPatient
      }"
      (click)="selectPatient(patient.id!)">{{ patient | json }}
      <button [disabled]="removingPatient > 0" type="button" (click)="removePatient($event, patient.id!)">x</button></pre>
  </div>
  <div *ngIf="savingPatient === true">
    <pre class="blinking">
      <span class="skeleton-box" style="width:10%;"></span>
      <span class="skeleton-box" style="width:20%;"></span>
      <span class="skeleton-box" style="width:50%;"></span>
      <span class="skeleton-box" style="width:25%;"></span>
      <span class="skeleton-box" style="width:40%;"></span>
      <span class="skeleton-box" style="width:48%;"></span>
      <span class="skeleton-box" style="width:12%;"></span>
      <span class="skeleton-box" style="width:80%;"></span>
      <span class="skeleton-box" style="width:40%;"></span>
      <span class="skeleton-box" style="width:70%;"></span>
      <span class="skeleton-box" style="width:50%;"></span>
      <span class="skeleton-box" style="width:30%;"></span>
      <span class="skeleton-box" style="width:18%;"></span>
      <span class="skeleton-box" style="width:80%;"></span>
      <span class="skeleton-box" style="width:10%;"></span>
      <button disabled type="button">x</button></pre>
  </div>
</ng-container>
