@import 'src/assets/style/variables';
@import 'src/assets/style/colors';

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  & div {
    display: flex;
    height: fit-content;
  }
}

pre {
  min-width: 404px;
  border: $border;
  margin: $medium-spacing;
  padding: $small-spacing;
  border-radius: $border-radius;
  cursor: pointer;

  & button {
    float: right;
    width: $large-spacing;
    height: $large-spacing;
  }

  &.currentPatient {
    background-color: $secondary;
  }
}

.skeleton {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
